<div class="audio-slideshow" id="audio-slideshow-{{num}}">
    {{#each sounds as |sound|}}
        {{> audio-slide sound=sound num=../num i=@index last=@last numSounds=../numSounds}}
    {{/each}}
</div>