<div>
    <h5>OPTIONAL: Empty Database</h5>
    <p>This will clear the birds table in the database, USE WITH CAUTION</p>
    <button onclick="emptyDatabase()">Empty Database</button>
    <div id="empty-db-feedback" style="border: none;"></div>
</div>