<div class="loader" id="loader">
    <div class="d-flex justify-content-center" id="loader-animation">
        <div class="loader-animation"></div>
    </div>
    <div class="loader-text">
        <p>Loading...</p>
    </div>
</div>
<div id="errorMessage"></div>