<div id="start-panel">
    <div class="d-flex justify-content-center">
        <div>
            <button class="btn btn-lg border-white bg-white" onclick="startQuiz()">Start Quiz</button>
        </div>
    </div>
</div>