<div>
    <h4>{{num}}. Save to database</h4>
    <form id="saveForm" ref="saveForm" id="saveForm" encType="multipart/form-data">
        <input type="button" class="admin-submit" style="visibility: hidden;" 
            value="Save to database" onclick="save('{{type}}')">
    </form>
    <br>
    <div id="save-feedback" style="border: none;"></div>
</div>