<div class="admin-task">
    <h4>{{num}}. Update User Queues</h4>
    <p>Adds any newly ready sounds to user queues</p>
    <button onclick="updateUserQueues()">Update queues</button>
    <div id="update-queues-feedback" style="border: none;"></div>
</div>