<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bird Listener</title>
    <link rel="icon" type="image/x-icon" href="../images/icons/bird-listener.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../css/gallery.css"/>
    <script src="../js/gallery.js"></script>
    <script defer src="../js/util/audio.js"></script>
    <script src="https://kit.fontawesome.com/434a201493.js" crossorigin="anonymous"></script>
</head>
<body class="d-flex h-100 text-center text-white bg-dark">
    <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">            
        <header class="mb-auto">
            <div>
                <nav class="nav float-md-start">
                    <h4><a class="nav-link" href="menu">Menu</a></h4>
                </nav>
            </div>
        </header>
        <main class="px-3">
            <div id="browse">
                <h1>Browse the birds</h1>
                <div id="filters">
                    <form autocomplete="off" action="">
                        <div class="autocomplete" style="max-width:300px;">
                            <input id="searchInput" type="text" name="searchInput" placeholder="Search by common name">
                        </div>
                        <div style="display: inline-block;">
                            <input id="searchButton" type="button" class="submit" value="Search">
                            <input id="resetButton" type="button" class="submit" value="Reset" onclick="location.reload();">
                        </div>
                    </form>
                </div>
                <p id="results" style="display: none;"><span id="numResults">0</span> results</p>
                {{> bird-gallery back="browse" }}
                <input type="hidden" id="page" value="1">
                <button id="loadMoreButton" onclick="loadMore()">Load more</button>
            </div>

            {{!-- hidden list of all bird common_names in db --}}
            <ol id="birdNames">
                {{#each birdNames as |birdName|}}
                    <li class="birdName">{{birdName}}</li>
                {{/each}}
            </ol>
            <script>
                // init autocomplete
                let birdNamesHTML = document.getElementsByClassName('birdName')
                let birdNames = [];
                for (let listItem of birdNamesHTML) {
                    birdNames.push(listItem.innerHTML)
                }
                let input = document.getElementById("searchInput");
                let submit = document.getElementById("searchButton");
                initAutocomplete(input, submit, birdNames);
            </script>
        </main>
        {{> footer }}
    </div>
</body>
</html>