<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bird Listener</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../css/quiz.css"/>
    <script src="../js/quiz.js"></script>
    <script src="../js/refreshToken.js"></script>
</head>
<body class="d-flex h-100 text-center text-white bg-dark" onload="loadFirstBird()">
    <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <nav class="nav navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <h4><a class="nav-link" href="menu">Menu</a></h4>
                    </div>
                    <div id="quizProgress" class="navbar-right">
                        <h5><span id="page">1</span> of 10</h5>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="loader" id="loader">
                <div class="d-flex justify-content-center" id="loader-animation">
                    <div class="loader-animation"></div>
                </div>
                <div>
                    <p id="loadingP">Loading...</p>
                </div>
            </div>
            <div id="errorMessage"></div>
            <div id="welcome">
                <div class="d-flex justify-content-center">
                    <div>
                        <button class="btn btn-lg border-white bg-white" onclick="startQuiz()">Start Quiz</button>
                    </div>
                </div>
            </div>
            <div class="content" id="content" style="display: none;">
                <div>
                    <h1 id="common-name" style="visibility: hidden;">Swift</h1>
                    <h4 style="font-style: italic; visibility: hidden;"><span id="scientific-name">Apus Apus</span></h4>
                </div>
                <!-- image -->
                <figure>
                    <div id="image-placeholder">
                        <h3>?</h3>
                    </div>
                    <img id="bird-image" src="" alt="bird image" style="display: none;">
                </figure>
                <figcaption id="image-license-panel" class="licenseInfo" style="visibility: hidden;">                    
                    <a id="image-url" href="" target="_blank" rel="noopener noreferrer">
                        Image by <span id="image-author"></span>, via Wikimedia Commons |
                    </a>
                    <a id="image-license" href="" target="_blank" rel="noopener noreferrer">
                        <span id="image-license-code"></span>
                    </a>
                </figcaption>
                <!-- sound -->
                <figure>
                    <audio id="audio-player" src="" controls controlsList="nodownload" preload="true">
                        Your browser does not support the <code>audio</code> element.
                        It can be found at <a href="" target="_blank" rel="noopener noreferrer">Xeno</a>.
                    </audio>
                    <figcaption class="licenseInfo">
                        <a id="sound-info" href="" target="_blank" rel="noopener noreferrer">
                            Audio by <span id="sound-recordist"></span>, via Xeno-Canto <span id="xeno-id"></span> | 
                        </a>
                        <a id="sound-license" href="" target="_blank" rel="noopener noreferrer">
                            CC <span id="sound-license-code"></span>
                        </a>    
                    </figcaption>
                </figure>
                <!-- buttons -->
                <div id="nextButtonSection">
                    <button id="reveal-button" class="btn btn-md border-white bg-white" onclick="revealBird()">Reveal bird</button>
                    <button id="next-button" class="btn btn-md border-white bg-white" onclick="showNextBird()" style="display: none;">Next</button>
                    <button id="review-button" class="btn btn-md border-white bg-white" onclick="goToQuizReview()" style="display: none;">Review</button>
                </div>
            </div>
        </main>
        <footer class="mt-auto text-white-50">
            <p>Website by <a href="https://github.com/charlywhitlow/bird-listener" target="_blank" rel="noopener noreferrer">Charly Whitlow</a></p>
        </footer>
    </div>
</body>
</html>

